body{
  width: 85%;
  margin: 0 auto;
  font-family: filson-pro, sans-serif;
  font-style: normal;
  font-weight: 500;
  background-color: #F9F9F9;
}
h1{
  font-size: 35px;
  font-weight: 800;
}
h2{
  font-size: 20px;
}
p{
  font-size: 16px;
}
.dropbtn {
  background-color: #F9F9F9;
  color: #FBE0EB;
  border: none;
  cursor: pointer;
}
.dropdown-container{
    width: 90%;
    margin: 0 auto;
}
.dropdown {
    color:#4048E8;
    margin-top:130px;
}
.recommend{
  position: relative;
  display: inline-block;
  color:#4048E8;
  margin-top:130px;
}
.resources-container{
  width: 90%;
  margin: 0 auto;
}
.dropdown-text{
    font-size: 35px;
}
.header-text{
  font-size: 30px;
}
.dropdown-content {
    display: none;
    background-color: #FBE0EB;
    z-index: 1;
    width:50%;
}
.dropdown-content a {
    color: #4048E8;
    padding: 12px 16px;
    text-align: center;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
  background-color: #4048E8;
  color:white;
}
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color:#4048E8;
}
hr{
  width: 70%;
}
a:link, a:visited{
  text-decoration: none;
}
.skip{
  color: #FBE0EB;
  position: fixed;
  bottom: 25px;
  left: 25px;
  font-size: 16px;
}
.skip:hover{
  border-bottom: solid;
}
.submit{
  display: block;
  font-size: 20px;
  width:30%;
  background-color: #FBE0EB;
  color: #F9F9F9;
  padding: 5px;
}
.button{
  background-color: #FBE0EB;
  border: 3px solid #FBE0EB;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.button:hover{
  border: 3px solid #FBE0EB;
  background-color: #F9F9F9;
  color: #FBE0EB;
}
.nav{
  font-size: 100px;
  margin-bottom: 80px;
  text-align: center;
}
.header{
  position: fixed;
  height: 60px;
  top: 0px;
  left: 0px;
  right:0px;
  color:#FBE0EB;
  background-color: #4048E8;
  font-size: 30px;
}
.hamburger{
  position: fixed;
  right: 24px;
  top:10px;
}
#back-home{
  opacity: 0;
  color:#56479C;
}
#back, #back-home{
  position: fixed;
  left: 25px;
  top:10px;
  color:#FBE0EB;
  font-size: 40px;
}
.entrace-img{
  width: 100%;
}
.back{
  font-size: 50px;
}
.attr{
  font-size: 20px;
  margin: 0;
}
.blank, .recommend-blank{
  border:none;
   border-bottom: 3px solid #FBE0EB;
   width: 50%;
   font-family: filson-pro, sans-serif;
   font-style: normal;
   font-size: 20px;
   font-weight: 600;
    color:#4048E8;
   background-color: #F9F9F9;
}
.recommend-blank{
  width: 90%;
}
.blank:focus, .recommend-blank:focus{
  border-bottom: 3px solid;
  outline: none;
  color:#4048E8;
  background-color:#FBE0EB;
  box-shadow: none!important;
}
.label{
  font-size: 30px;
  color: #FBE0EB;
  font-weight: 600;
}
.description{
  color:#4048E8;
}
.title-container{
  margin-top:130px;
  text-align: center;
}
.title{
  font-size: 12px;
  color:#4048E8;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 3px solid #FBE0EB;
  width: 60%;
  margin: 0 auto;
  padding-bottom: 10px;
  margin-bottom: 80px;
}
.head-title{
  font-family: filson-pro, sans-serif;
  font-style: normal;
  font-weight: 600;
  color:#4048E8;
  margin-bottom: 50px;
  font-size: 30px;
}
.outline{
  -webkit-text-stroke-width:1px;
  -webkit-text-stroke-color:#FBE0EB;
  color: #F9F9F9;
}
.highlight{
  background-color: #FBE0EB;
}
.intro-1{
  font-family: aurea-ultra, serif;
  font-size: 40px;
}
.down{
  position: fixed;
  bottom: 100px;
  font-size: 60px;
  left:50%;
}
.options{
  margin-bottom: 300px;
}
.highlight{
  background-color: #FBE0EB;
  padding-bottom:0px;
}
.gif{
  width: 90%;
}
.quote-1, .quote-2, .soup-meaning{
  color:#4048E8;
  font-size: 26px;
}
.soup-meaning{
  margin-bottom: 50px;
}
.attrb{
  color:#4048E8;
}
.breadcrumbs{
  visibility: hidden;
}
.full-container{
  height: 100%;
  width: 90%;
  margin: 0 auto;
}
.scroll{
  color: #FBE0EB;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
}
.scroll-container{
  text-align: center;
}
.hand-icon{
  width: 60px;
  display: block;
  margin: 0 auto;
}
.start{
  margin-top:150px;
  color:#4048E8;
}
.give-get{
  color:#FBE0EB;
  position: relative;
  display: inline-block;
}
.give-get .hover-give{
  visibility: hidden;
  width: 100%;
  top: 100%;
  background-color: #4048E8;
  color: white;
  text-align: center;
  padding: 10px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}
.hover-give{
  font-size: 16px;
  font-weight: 500;
}
.give-get .hover-get{
  visibility: hidden;
  width: 100%;
  top: 100%;
  background-color: #4048E8;
  color: white;
  text-align: center;
  padding: 10px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}
.hover-get{
  font-size: 16px;
  font-weight: 500;
}
.mobile-text{
  visibility: visible;
  color:#FBE0EB;
}
.underline{
  text-decoration: underline;
  color:#FBE0EB;
}
.resources{
  color: #FBE0EB;
}
.resources:hover{
  border-bottom: 2px solid #FBE0EB;
}
.radio-button{
  display: block;
  margin-bottom: 20px;
  font-size: 16px;
}
.recommend-title{
  margin-bottom: 0px;
}
/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    right: 0;
    top: 0;
    background-color: #4048E8; /* Black fallback color */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    text-decoration: none;
    font-size: 50px;
    color: #F9F9F9;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    text-decoration: underline;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    right: 23px;
    top:-5px;
    font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
@media screen and (min-width: 800px) {
  .quote-1, .quote-2, .soup-meaning{
    font-size: 35px;
  }
  .outline{
    -webkit-text-stroke-width:2px;
  }
  .header{
    width: 70px;
    height: 100%;
    left:auto;
  }
  .hamburger{
    top:20px;
  }
  .breadcrumbs{
    visibility: visible;
    position: fixed;
    right:26px;
    top:40%;
  }
  .crumb{
    font-size: 25px;
    display: block;
    padding-bottom: 20px;
    color:#FBE0EB;
  }
  .title-container{
    margin-top:150px;
    width: 90%;
  }
  .title{
    font-size: 14px;
    width: 80%;
    padding-bottom: 15px;
    margin-bottom: 50px;
  }
  .head-title{
    font-size: 50px;
  }
  .button{
    font-size: 20px;
  }
  h2{
    font-size: 40px;
  }
  .blank{
    font-size: 40px;
  }
  .nav-container{
    font-size: 40px;
  }
  .start{
    margin-top:130px;
  }
  .start-text{
    font-size: 90px;
    width: 90%;
    margin: 0 auto;
  }
  .mobile-text{
    visibility: hidden;
  }
  .dropbtn{
    font-size: 35px;
  }
  .dropdown-text{
      font-size: 50px;
  }
  .header-text{
    font-size: 40px;
  }
  .column{
    width: 50%;
    float: left;
  }
  .label{
    font-size: 40px;
  }
  .label:hover{
    border-bottom: 6px solid #FBE0EB;
  }
  .description{
    font-size: 18px;
    font-weight: 600;
  }

  .give-get:hover .hover-give, .give-get:hover .hover-get{
    visibility: visible;
  }
  .blank, .recommend-blank{
     border-bottom: 5px solid #FBE0EB;
  }
  .recommend-blank{
    font-size: 30px;
    width: 100%;
  }
  .blank:focus, .recommend-blank:focus{
    border-bottom: 5px solid;
  }
  .radio-button{
    margin-bottom: 30px;
    font-size: 25px;
  }
  .recommend{
    font-size: 25px;
    width:90%;
  }
}
